name: authx
description: A new Flutter project.
publish_to: none
version: 1.0.0+1
environment:
  sdk: ^3.8.1
dependencies:
  flutter:
    sdk: flutter
  qr_flutter: ^4.1.0
  cupertino_icons: ^1.0.8
  crypto: ^3.0.3
  flutter_secure_storage: ^9.2.4
  provider: ^6.1.1
  mobile_scanner: ^7.1.2
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter:
  uses-material-design: true
  assets:
  - assets/
  - assets/screenshots/
